
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}
i{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-between;
}

.header-left{
    float: left;

}
.header .header-left .email{
    border-right: 1px solid rgb(68, 67, 67);
    padding: 15px 20px 15px 0;
}
.header .header-left .call{
    padding: 15px 20px 15px 0;
    margin-left: 25px;
}
.header-right{
    float: left;
}
.header .header-right .linked{
    border-right: 1px solid rgb(68, 67, 67);
    padding: 15px 20px 15px 0;
}
.header .header-right .multi-language{
    padding: 15px 20px 15px 0;
    margin-left: 25px;
    border-right: 1px solid #434242;
}
.header .header-right .login {
    display: flex;
    padding: 18px 0px 15px 20px;
}
#line-1{
    width: 100%;
    margin: -3px;
    background-color: black;
}
/*Header 2*/
.header-2{
    display: flex;
    justify-content: space-between;
}
.header-2 .advanced-search{
    float: left;
    margin-top: 47px;
    
}
.header-2 .advanced-search .category-btn{
    width: 190px;
    height: 45px;
}
.header-2 .advanced-search .search{
    width: 260px;
    height: 45px;
}
.header-2 .advanced-search .btn-search{
    width: 50px;
    height: 45px;
}
.header-2 .action{
    margin-top: -20px;
}
/*Header 3*/
.header-3{
    height: 60px;
    background-color: #8bdee9;
    margin-top: 29px;
}
.header-3 ul{
    display: flex;
    justify-content: center;
}
.header-3 ul li{
    line-height: 60px;
    text-align: center;
    padding: 0 20px;
}
.header-3 ul li:hover{
    background-color: blanchedalmond;
}



#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(4, 12, 21, 0.8);
    overflow: hidden;
    position: relative;
  }
  
  #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    
  }
  
  #hero .carousel-item::before {
    content: '';
    background-color: rgba(4, 12, 21, 0.5);
  }
  
  #hero .carousel-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 82px;
    left: 50px;
    right: 50px;
  }
  
  #hero h2 {
    color: #fff;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero p {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
    margin-top: 10px;
  }
  
  @media (min-width: 1200px) {
    #hero p {
      width: 50%;
    }
  }
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
    top: 112px;
  }
  
  @media (max-width: 992px) {
    #hero .carousel-control-prev, #hero .carousel-control-next {
      top: 66px;
    }
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: .6;
    transition: 0.3s;
  }
  
  #hero .carousel-indicators li.active {
    opacity: 1;
    background: #ed502e;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: #ed502e;
    margin-top: 15px;
  }
  
  #hero .btn-get-started:hover {
    background: #ef6445;
  }



  /*Action*/
  .action{
    text-align: center;
  }

  .action i{
    margin-left: 13px;
    margin-top: 80px;
  }
    /*Product*/
  .product{
    margin-top: 80px;
    text-align: left;
  }
  .product .menu-product{

  }
  .product .menu-product ul{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }
  .product .menu-product ul li{
    margin-left: 50px;
  }
  .product-2{
    text-align: center;
    margin-top: 40px;
  }
  .product-2 img{
      width: 270px;
  }
  .product-2 h4{
    padding:7px 0px 0px 0px ;
  }
  .product-2 h5{
    margin-bottom: 3px;
  }
  .title-space{
    margin-bottom: 40px;
  }
/*sau trend*/
.ha{
  margin-top: 80px;
}
.ha img{
  width: 499px;
}
.mgt{
  margin-top: 30px;
}
/*Footer*/
.footer{
  background-color: #8bdee9;
  margin-top: 40px;
}
.menu-footer{
  margin-top: 15px;
  margin-left: 30px;
}
.my-account{
  margin-top: 15px;
  margin-left: 30px;
}
.sub{
  margin-top: 15px;
}