<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/frontend.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
        <div class="row col-md-12 product-2">
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
            <div class="col-md-3">
                <img src="./assets/img/product/giaolinh.jpg" alt="">
                <h4>Giao lĩnh Liên Vân</h4>
                <h5>400,000đ</h5>
            </div>
        </div>

</div>

</body>
</html>